body, html{
    margin:-15px;
}
.background{
    background-image: url(./images/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-attachment: fixed;
}

.opac{
    height: 100%;
    background: rgba(0,0,0,0.2);
    width: 100%;
}

.p1{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 160px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
    margin-top: 50px;
    
}


.cercle1 {
        display: flex;
        background: whitesmoke;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-top: 2%;
        margin-left: 68%;
    }

.cercle1:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}

.cercle2{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 42%;

}

.cercle2:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}

.cercle3{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 15%;

}

.cercle3:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}

.cercle4{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 36%;

}
.cercle4:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}
.cercle5{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 60%;

}
.cercle5:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}

.cercle6{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 35%;

}
.cercle6:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}
.cercle7{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 13%;

}
.cercle7:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}
.cercle8{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 36%;

}
.cercle8:hover{
    border:2px solid #F3636B;
    box-sizing: border-box;
    
    
}
.p2{

    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 70px;

}

.p3{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 50px;
}

.p4{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 70px;
}

.p5{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 70px;
}

.p6{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 26px;
    margin-top: 50px;
}

.p7{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 57px;
}

.p8{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 70px;
}

.cercle9{
    display: flex;
    background: whitesmoke;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 60%;

}
.cercle9:hover{
    border:2px solid rgb(59, 59, 151);;
    box-sizing: border-box;
    
    
}
.cercle10{
    
        display: flex;
        background: whitesmoke;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-top: 2%;
        margin-left: 34%;
    
    
}

.cercle10:hover{
    border:2px solid rgb(59, 59, 151);
    box-sizing: border-box;
    
    
}
.n1{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 160px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
    margin-top: 50px;
}

.n2{
    color: #F3636B;
    border-radius: 50px;
    font-size: 20px;
    width: 160px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 23px;
    margin-top: 40px;
}